@media only screen and (min-width: 64em) {

    * {
        border: 0px solid red;
        /* Debugging */
    }

    body {
        font-size: 1em;
        max-width: 100%;
    }

    header {
        margin: 4.5em 0 0 0;
    }


    /* Hamburger! */
    .hamburger {
        display: none;
    }

    .navbar {
        max-width: 90%;
        min-width: 80%;
        justify-content: center;
    }

    .navbar li a {
        padding: .45rem;
        text-decoration: none;
        color: #a1dbec;
        border: solid 1.5px grey;
    }

    footer {
        min-width: 95%;
    }

    .credits {
        display: none;
    }

    .logo {
        min-width: 40%;
    }


    /* ********** GALLERY *************** */
    .gallery-main {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 1em;
    }

    .gallery-main h2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .gallery-main figure:hover{
        box-shadow: 10px 10px;
    }

}
