@media only screen and (min-width: 64em) {

    * {
        font-size: 1.02em;
    }

    .main-content {
        margin: 0 auto;
        min-width: 85%;
    }

    .navbar ul li a {
        width: 8rem;
    }

    footer {
        align-items: center;
        padding: 1em;
    }



}
