@media only screen and (min-width: 64em) {

    * {
        font-size: 1.02em;
    }


    .navbar ul li a {
        width: 8rem;
    }

    img {
        width: 100%;
    }

    footer {
        align-items: center;
        padding: 1em;
    }



}
