@media only screen and (min-width: 64em) {

    * {
        font-size: 1.02em;
    }

    .navbar ul li a {
        width: 8rem;
    }

    .sideBar {
        height: 75em;
    }

    tbody tr {
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin: 0;
    }
    td {
        margin: 0;
        padding: 2%;
        flex-grow: 1;
    }

    .titles th {
        flex-grow: 1;
        padding: 2%;
    }
    thead tr th {
        font-size: 48px;
    }
    footer {
        align-items: center;
        padding: 1em;
    }



}
