@import "../modules/header-nav.css" screen; /*Importing Nav menu from modules folder */
@media only screen and (min-width: 15em) {

    html {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(#e8e8e8, #c1c1c1);
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 0px red solid; /* Debugging */
        text-align: center;
        font-size: 1.046em;
    }

    aside {
        display: none;
    }

    img {
        max-width: 100%;
    }

    main {
        display: flex;
        flex-flow: row-reverse;
    }

    .main-content {
        max-width: 95%;
        margin: 0 auto;
        background: #fbeec1;
    }

    main div {
        min-height: 10em;
        margin: 2%;
        background: #fff;
        padding: 1%;
        border: 2px solid #000;
        border-radius: 10px;
    }

     th {
        text-align: center;
        border-radius: 10px;

    }

    table {
        margin: 2%;
        border-radius: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

    }

    tbody {
        max-width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;

    }

    .titles th {
        border-radius: 0;
        max-width: 100%;
    }
    .titles {
        width:100%;
        display: flex;
        justify-content: space-between;
    }

    th, td {
        border: 1px solid #000;
        margin: 2%;

    }

    tr {
        border: 3px solid #000;
        align-self: stretch;
        align-items: baseline;
    }

    tfoot th {
        font-size: 11px;
        background-color: #7fb9c2;
        padding: 7px;
        border-radius: 10px;
    }

    footer {
        max-width: 100%;
        background: #bc986a;
        margin: 1em 0 0 0;
    }
    footer section h4 {
        margin: 2%;
        padding: 0;
    }

    .contact {
        margin: 0 auto;
        padding:  0;
    }

    .footer-bar {
        margin: 0;
        padding: 0;
    }

    .credits {
        display: none;
    }



}
