body, main, header, footer {
    margin: 3em;
}

header {
    padding: 2em;
    margin: 2em;
    margin-top: 4em;
    text-align: center;
}

/*Navigation bar at the top */
.navbar {
    position: fixed;
    border:1px solid #ccc;
    border-width:1px 0;
    margin:0;
    padding:0;
    text-align:center;
    top: 0;
    background-color: #333
}

.navbar a {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #a1dbec;
    border: solid 1.5px grey;
    display: inline-block;
}

/* Navbar link block color change on hover */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/*Footer styling*****************COME BACK AND CHANGE THIS HORRIFIC COLOR! */
footer {
    font-size: smaller;
    background: #a1bdec
}




/*Testing JS

 Style the header
header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

 Page content
.content {
    padding: 16px;
}

The sticky class is added to the header with JS when it reaches its scroll position
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

 Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0)
.sticky + .content {
    padding-top: 102px;
}
