@media only screen and (min-width: 15em) {
    header, main, footer, body {
        text-align: center;
        align-content: center;
        text-align: center;
        max-width: 90%;
        font-size: 1.2em;
        margin: 0 auto;
        min-width: 15em;
    }
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    background: #0cc2dd;
    color: #000;
}

main {
    background: #a1dbec
}
/*Navigation bar at the top */

/* Hamburger! */

    #navButton {
        width: 2.3rem;
        height: 2.3rem;
        border: none;
        background-color: transparent;
        font-size: 16px;
        cursor: pointer;
        z-index: 20;
        position: fixed;
        top:0;
        right:0;
        margin: .5rem;

    }

    .hamburger {
        position: fixed;
        top: 0;
        right: 0;
    }

.hamburgerBar {
    width: 35px;
    height: 4px;
    background-color: black;
    list-style-type: none;
    padding: 0;
    margin: .5rem;
    position: relative;
    border-radius: 25px;
    }


}



/*****************Hamburger Onclick*************/
    @media only screen and (max-width: 37.5em) {
        .navbar.responsive {
            position: fixed;
            display: block;
            top: 2.5em;
            right: 0;
            border: 1px solid #ccc;
            border-width: 1px 0;
            text-align: center;
            background-color: #333;
            max-width: 100%;
            min-width: 30%;
        }

        .navbar.responsive li {
            background-color: #000;
            display: block;
            width: 100%;
            margin: 0 auto;
            border: 2px solid #ddd;
            padding: .4rem;

        }

        .navbar.responsive li a {
            padding: .4rem;
            text-align: center;
            display: block;
            text-decoration:none;
            border: solid 1.5px grey;
        }

        .navbar.responsive li a:hover {
            background: #ddd;
            color: black;
        }
    }


/***************************************/

.navbar {
    border: 1px solid #ccc;
    border-width: 1px 0;
    text-align: center;
    background-color: #333;
    max-width: 300px;
    display: none;

}
.navbar li {
    display: none;
    text-align: center;
    list-style-type: none;
    margin: 4px;
    padding: 0;

}

.navbar li a {
    padding: 1px;
    text-decoration: none;
    color: #a1dbec;
    border: solid 1.5px grey;
}



/* Navbar link block color change on hover

.navbar a:hover {
    background: #ddd;
    color: black;
}
*/

img {
    margin: 0 auto;
    min-width: 25%;
    max-width: 100%;
}

footer {
    font-size: smaller;
    background: #0cc2dd;
    margin: 0 auto;
    color: #000
}

.forecast {
    display: none;
}

p.temp-high {
    color: red;
}

p.temp-low {
    color: blue;
}

.current {
    color: grey;
    font-size: 1.2em;
}


/***********************Clear fix**************************/

    .clearfix {
        content: "";
        clear: both;
        display: table;
    }





