/* Medium Screen CSS */
@media only screen and (min-width: 37.5em) {

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body,
main,
header,
footer {
    width: 600px;
    max-width: 600px;
    margin: auto;
}

header {
    padding: 2em;
    margin-top: 4em;
    text-align: center;
}

/*Navigation bar at the top */

.navbar {
    position: fixed;
    top: 0;
    left: 5em;
    right: 5em;
    border: 1px solid #ccc;
    border-width: 1px 0;
    text-align: center;
    background-color: #333;
    min-width: 570px;

}

.navbar li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar li a {
    padding: 10px;
    text-decoration: none;
    color: #a1dbec;
    border: solid 1.5px grey;
}

/* Navbar link block color change on hover */

.navbar a:hover {
    background: #ddd;
    color: black;
}

li a.navbar {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.navbar) {
    background-color: #555;
    color: white;
}

main {
    width: 50em;
    margin: auto;
    text-align: center;
}

img {
    float: right;
    margin: 0 0 1em 1em;
}

/*Footer styling*****************COME BACK AND CHANGE THIS HORRIFIC COLOR! */

footer {
    font-size: smaller;
    background: #a1bdec;
    margin: auto;
    width: 50em;
}


}
