* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    line-height: 2.2em;
}

h1 {
    font-size: 2rem;
    color: black;
}

h2 {
    font-size: 1.4rem;
    text-align: center;
    border-bottom: 3px solid #bbb;
    color: #555;
    background: #77e3ff
}

header, main, footer {
    margin: 0 auto;
    overflow: auto;
    width: 80%;
}

header, footer, footer a {
    text-align: center;
    background-color: #77e3ff;
    color: blue;
    padding: .5em;
}

header {
    padding: 1rem;
}

header img {
    height:100%;
    float: right;
    top: 0;
    max-width:100%;
    margin-bottom: 1rem;
}

footer {
    font-size: smaller;
    color: gray
}

.remDot {
    list-style-type: none;
}

.line {
    width: 100%;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    display: block;
}

.subTitle {
    font-size: 1rem;
    text-align: center;
    color: darkslategrey ;
}

.presentation {
    text-align: center;
}

section figure {
    margin: 0 auto;
    padding: 0;
    border: 8px solid #000;
    margin-bottom: 1.7rem;
}

#presentationVideo {
    width: 100%;
}

figcaption {

}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

