@media only screen and (min-width: 37.5em) {
    * {
    }
}
@media only screen and (min-width: 64em) {

}
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 2.2em;
    font-family: sans-serif;
    background: 0;
    color: #000;

}

h1 {
    font-size: 2rem;
    color: black;
    margin: 1em;
}

h2 {
    font-size: 1.4rem;
    text-align: center;
    border-bottom: 3px solid #bbb;
    color: darkslategrey;
    background: #77e3ff
}

h4 {
    font-size: 1rem;
    text-align: center;
    color: darkslategrey ;
    margin: auto;
    padding: 0;
}

header, main, footer {
    margin: auto;
    max-width: 1000px;
    width: 1000px;
    overflow: auto;

}

header, footer, footer a {
    text-align: center;
    background-color: #77e3ff;
    color: blue;
    margin: auto;
    padding: 1em;
}

header {

}

header img {
    /* Width : ; */
    height: auto;
    float: right;
    top: 0;
        
}

footer {
    font-size: smaller;
    color: gray
}

main {
    margin: auto;
    /* padding: ; */

}

.remDot {
    list-style-type: none;
}
